header{
    text-align: center;
}


.menu-container{
    display:flex;
    flex-direction: column;
    border-radius: 20px;
    margin: 0 auto;
    width: 30%;
    text-align: center;
}

.menu-options-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-options-container button{
    padding:20px;
    border:none;
    border-radius: 10px;
    background-color: var(--text);
    margin-bottom:10px; 
    width: 70%;
}

.menu-options-container a{
  width: 100%;
}

/*FALLING BLOCKS BG*/
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Behind everything */
    overflow: hidden;
  }
  
  .tetris-shape {
    position: absolute;
    width: 80px;
    animation: fall linear infinite;
    height: 80px;
    animation-name: fall, fadeIn;
    animation-timing-function: linear, ease-in;
    animation-fill-mode: both;
    opacity: 0; 
  }
  
  .cell {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgba(0, 200, 255, 0.85);
    border: 1px solid white;
    box-sizing: border-box;
  }
  
  
  @keyframes fall {
    from {
      transform: translateY(-40px);
    }
    to {
      transform: translateY(100vh);
    }
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    10% { opacity: 0.7; }
    100% { opacity: 0.7; }
  }
/*/FALLING BLOCKS BG*/  

@media screen and (max-width: 900px) {
    .menu-container{
        width: 80%;
    }    
}

@media screen and (max-width: 300px) {
    .menu-container{
        width: 100%;
        padding:0px;
    }    
}

.profile-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #111;
    color: white;
    padding: 2rem;
    border-radius: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    z-index: 2000;
    animation: fadeInScale 0.3s ease forwards;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Makes it circular */
    object-fit: cover;
    margin-bottom: 1rem;
}

.profile-name {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}